.container {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    width: 50%;
    height: min-content;
}

.linethrought {
    width: 100%;
    background-color: #c7c7c7;
    height: 2px;
    position: relative;
    top: 20px;
    z-index: -1;
}

.title {
    background-color: white;
    width: max-content + 100px;
    margin: 0 auto;
    padding: 0 5px;
}

.todo-form {
    margin: 2rem 0;
    .err {
        color: red;
    }
    input {
        width: 70%;
        border-radius: 10px;
        margin: 0px 10px;
        padding: 10px;
        border-width: 2.5px;
    }
    button {
        cursor: pointer;
        padding: 10px 25px;
        border-radius: 10px;
        background-color: #000000;
        color: gold;
        font-weight: 700;
    }
}

hr {
    width: 100%;
    margin: 2rem 0px;
    border-color: gray;
    background-color: gray;
}

.adding-text {
    margin-bottom: 1rem;
    font-weight: 700;
}

.todolist {
    height: 60vh;
    overflow: auto;
}

.todo-item {
    display: flex;
    margin: 25px auto;
    flex-wrap: wrap;
    width: 100%;
    .checkbox {
        width: 1.2rem;
        height: 1.2rem;
        cursor: pointer;
    }
    .todo-text {
        width: max-content;
        margin: 0 auto;
        text-align: start;
        font-weight: 600;
        font-size: 1.2rem;
    }
    .complete {
        text-decoration: line-through;
        color: burlywood;
    }
    .buttons-container {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        .action-icon {
            cursor: pointer;
            margin: 0 20px;
            color: gray;
            transition: color .2s ease;
            &:hover {
                color: goldenrod;
            }
        }
        .action-divider {
            width: 2px;
            height: 100%;
            background-color: goldenrod;
        }
    }
}
